In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

### In data processing we first try and bring data to a accpetable format , pandas is used to load and modify data so we can use it for further analysis

In [2]:
sentiment_info = pd.read_csv('data/train.tsv',delimiter='\t',encoding='utf-8')

In [3]:
sentiment_info.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

## As the data has 0 to 4 degrees of sentiment , we try to keep only the extreme classes , so are only concerned about 0 and 4

In [4]:
senti_short = sentiment_info[(sentiment_info['Sentiment']==0)|(sentiment_info['Sentiment']==4)]

In [5]:

senti_short.head()

,PhraseId,SentenceId,Phrase,Sentiment
63,64,2,"This quiet , introspective and entertaining in...",4
66,67,2,"quiet , introspective and entertaining indepen...",4
74,75,2,entertaining,4
77,78,2,is worth seeking,4
101,102,3,would have a hard time sitting through this one,0

## We create a new column in our data and convert 4 as 1 and 0 remains the same

In [6]:
senti_short['Bincol']= senti_short.apply(lambda x:0 if x['Sentiment']==0 else 1,axis=1)

In [7]:
senti_short.head()

,PhraseId,SentenceId,Phrase,Sentiment,Bincol
63,64,2,"This quiet , introspective and entertaining in...",4,1
66,67,2,"quiet , introspective and entertaining indepen...",4,1
74,75,2,entertaining,4,1
77,78,2,is worth seeking,4,1
101,102,3,would have a hard time sitting through this one,0,0

In [9]:
import numpy as np
import keras 
from keras.preprocessing.sequence import pad_sequences
from keras.preprocessing.text import Tokenizer
from sklearn.feature_extraction.text import CountVectorizer
from keras.utils.np_utils import to_categorical
from sklearn.model_selection import train_test_split

import re

In [ ]:
max_fatures = 2500
tokenizer = Tokenizer(num_words=max_fatures, split=' ')
tokenizer.fit_on_texts(senti_short['Phrase'].values)
X = tokenizer.texts_to_sequences(senti_short['Phrase'].values)
X = pad_sequences(X)